<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- 遍历键值对的时候，在第三个位置可以加索引 -->
        <p v-for="(val,key) in card">键：{{key}} 值：{{val}}</p>
        <p v-for="(val,key,i) in card">第几个属性:{{i}} 键：{{key}} 值：{{val}}</p>

    </div>

    <script>
        var vm=new Vue({
            el:"#app",
            data() {
                return {
                    card:{
                        id:1,
                        name:"hello",
                        password:"world"
                    }        
                }
            },
            methods: {
                
            },
            
        })
    </script>
</body>
</html>